body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-color: #16161a;   
}

* {
    box-sizing: border-box;
    max-width: 100%;
}

.navbar{
   background-color:rgb(239, 239, 247);
   font-size: 10px;
   text-align: center;
   position: sticky;
   top: 0;
   padding: 10px;
   width: 100%;
   display: flex;
   z-index: 100;
   align-items: center;
}

.search_box{
   margin: 0 40px;
   padding: 10px 20px;
   border-radius: 20px;
   border: none;
}
.menue_item{
   color: black;
   text-decoration: none;
   font-size:19px;
   margin: 0 10px;
}
.menue_item:hover{
   text-decoration: underline;
}


.brand{
   display: flex;
}

.menue{
   margin-left: 5px;
}

.logo{
   height: 60px;
}
.menu_icon {
   height: 40px;
   display: none;
}

.cart_icon{
   height: 20px;
}

.container{
   margin-top: 30px;
   margin-left: 500px;
   align-items: center;
   display: flex;
   padding: 50px;
   justify-content: center;
   height: 550px;
   width: 500px;
   background-color: rgb(114, 113, 113);
   border: 0.5px solid black;
   border-radius: 5px;
   
}

.head{
  color: whitesmoke;
}

.all{
   border: solid 0.5px black;
   font-size: large;
   border-radius: 3px;
}
.all:hover{
   box-shadow: 0 0 6px 2px;
   transition: 0.5s;
}

.h{
   font-size: xx-large;
   text-align: center;
}


.b{
   font-size: larger;
}

.pay{
   margin-right: 52px;
}

.btn{
   border: 0.5px solid black;
   border-radius: 20px;
  background-color: #7f5af0;
  color: #fffffe;
}

.btn:hover{
   box-shadow: 0 0 6px 2px;
   transition: 0.5s;
}