body {
    font-family: 'Arial', sans-serif;
    margin-right: 0px;
    margin-left: -100px;
    padding-left: 0;
    padding: 100px;
    line-height: 1.6;
    color: #333;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 1em 2;
    
  }
  
  h1 {
    margin: 0;
  }
  
  main {
    padding: 20px;
  }
  
  .meal-section {
    background color: rgb(240, 53, 53);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px 0;
    padding: 20px;
    font size:2px;
    display:flex;
    flex-direction:row;

  }
  
  .meal-section h2 {
    color: #4CAF50;
    font-size: 1.5em;
  }
  
  .meal-img {
    width: 350px;
    border-radius: 8px;
    margin: 5px 10px;
    height: 250px;
  }
  
  
 
  .footer{
    background-color: rgb(239, 239, 247);
    padding: 70px 0;

}
.row{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.footer-col{
    width:20%;
    padding: 0 15px;

}
.list {
    list-style: none;
    
}

.container{
    max-width: 1170px;
    margin: auto;

}
.footer_info{
    padding-left: 80px;
}
  
  
  