body{
    margin: 0;
    padding: 0;
    background: #121111;
  }

  /* ==== */
   .main-heading{
    text-align: center;
    font-size: 60px;
    padding: 50px;
    color: #fffffe;
    margin-top: 70px;
    margin-bottom: 20px;
    
}
.main-title{
  font-size: 20px;
  text-align: justify;
  text-align: center;
  margin-top: 10px;
  color: #94a1b2;
  
 }
/* main container */
 .container_1{
  background: #121111;
  color: #fffffe;
    border-top: 5px solid #6337e8;
    border-radius: 8px 8px 0 0 ;
    padding: 50px;
    width: auto;
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 50px;
    padding-right: 80px;
    
}
.main-workout{
  width: 400px;
  height: 500px;
  border: 2px solid #7f5af0;
  margin: 10px 20px;
  border-radius:15px;
  background-color: #1a1a1a;
  box-shadow: 0 15px 25px rgba(0, 0, 0, 0.2);
  
}
.gymwoking{
width: 100%;
display: block;
margin: 0px auto;
border-radius: 10px 10px 0 0;
height: 200px;
object-fit: cover;
}
.heading{
   text-align: center;
   color: #fffffe;
}
.disciption{
  text-align: justify;
  color: #fffffe;
  padding: 10px 20x;
  font-family: 'Times New Roman', Times, serif;
 margin:10px;
   }
   .btn{
    
    
    margin-top: 100px;
    border-radius: 60px;
    background-color: #6337e8;
    box-shadow: #7f5af0;
    color: white;
    padding: 8px 24px;
    text-decoration: none;
   font-size: 30px;
    border-radius: 91px;
    display: block;
    text-align: center;
    justify-content: center;
    margin: 18px 93px;
    
     }
   /* container  */
     /* mobile */
     @media screen and (max-width:500px){
      .container{
        width: 200px;
        height: 5000px;
       display: flex;
      }
      .heading{
          align-items: left;
          padding-left: 10px;
          font-size: 5px;
          margin:5px 0 ;
      }
      .main-workout{
      width: 200px;
     height: 350px;
     margin-right: 20px;
  }
  .btn{
    font-size: 10px;
    padding-top: 10px;

   border-radius: 30px;

  }
  .disciption{
  font-size: 10px;
  
  } 
  .heading{
    font-size: 20px;
  }
  .gymwoking{
  height: 130px;
  }
  }



  /*  ///// */

  .footer{
    background-color: rgb(239, 239, 247);
    padding: 70px 0;

}
.row{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}
.footer-col{
  width:20%;
  padding: 0 15px;

}
.list {
  list-style: none;
  
}
.container{
  max-width: 1370px;
  margin: auto;

}
.footer_info{
  padding-left: 80px;
}
